
html,
body {
    background: #87de07 /*#044D7F*/;
    overflow: hidden;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

#settings-screen {
    color: #000;
}

h2 {
    margin-top: 8px;
}


.close {
    background: transparent url('../img/close.png') no-repeat 4px 4px;
    background-size: 24px 24px;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    position: absolute;
    right: 6px;
    text-indent: -10000px;
    top: 6px;
    width: 32px;
    z-index: 1;
    -webkit-app-region: no-drag;
}


label {
    -webkit-app-region: no-drag;
    float: left;
    min-width: 200px;
    padding: 0 0 0 0;
    text-align: left
}

input {
    width: 200px;
    float: left;
    -webkit-app-region: no-drag;
}

.col1 {float: left}
.col1 label {}
.col1 input {width: 100px}
.col2 {float: left; padding: 0 0 0 5px}
.col2 label {min-width: 40px; padding: 0 1px 0 0}
.col2 input {width: 50px}
